.player_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-radius: 25px;
  font-family: monospace;
}

.player_card img {
  flex: 1;
  width: 350px;
  height: 254px;
}

.player_card .text_container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.text_container h3 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.info_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text_container .player_team {
  display: flex;
}

.player_team img {
  flex: 1;
  background-color: white;
  border-radius: 50%;
  width: 10%;
}

.player_team h4 {
  flex: 1;
}

.positions_btns_container {
  display: flex;
  gap: 0.3rem;
}

.position_btn {
  margin: 0;
  padding: 4px;
  border-radius: 5px;
  width: 30px;
  color: #212529;
  background-color: transparent;
  border: 2px solid #212529;
}

.bronze {
  background-image: linear-gradient(#ea5753, #ffcf67);
  color: #212529;
}
.silver {
  background-image: linear-gradient(#ebf4f5, #b5c6e0);
  color: #212529;
}
.gold {
  background-image: linear-gradient(#fcef64, #beb15b);
  color: #212529;
}
