.playerslist_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  width: 80vw;
  max-width: 1700px;
  margin: 1rem auto;
}

@media screen and (max-width: 1200px) {
  .playerslist_grid {
    grid-template-columns: 1fr;
  }
}
