.nbateam_name {
  margin: 1.3rem auto;
}

.team_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 1170px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 25px;
}

.team_container .nba_logo {
  width: 150px;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 50%;
}

.team_container h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.players_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
}

@media (min-width: 1040px) {
  .players_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1550px) {
  .players_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#card_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
