body {
  font-family: monospace;
  color: white;
  background-color: #212529;
}

#card_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  background-color: #9e2a2b;
  border: none;
  text-transform: uppercase;
  margin: 1rem;
}

#player_loader {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 70%;
  background-color: #212529;
}

#player_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 512px;
  height: 256px;
  border-radius: 25px;
  padding: 0 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#player_card h3 {
  font-size: 2rem;
}

#player_card img {
  flex: 1;
}

#player_card .text_container {
  flex: 1;
}

#player_card .text_container .player_team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
  padding: 0.5rem;
  border-radius: 50px;
}

.player_team img {
  flex: 1;
  background-color: white;
  border-radius: 50%;
  width: 10%;
}

.player_team h4 {
  flex: 1;
}

.bronze {
  background-image: linear-gradient(#ea5753, #ffcf67);
  color: white;
}
.silver {
  background-image: linear-gradient(#ebf4f5, #b5c6e0);
  color: #212529;
}
.gold {
  background-image: linear-gradient(#fcef64, #beb15b);
  color: #212529;
}
