* {
  font-family: monospace;
}

body {
  color: white;
  background-color: #212529;
  margin: 0;
  padding: 3rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.flex_column_container {
  height: calc(100vh - 6rem);
  width: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.load_create_league {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.list_leagues_container h2 {
  margin: 2rem 0;
}

.list_leagues_container h4 {
  margin: 1rem 0;
}

button {
  padding: 1rem;
  color: white;
  background-color: #9e2a2b;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  margin: 1rem;
}

#player_loader {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 70%;
  background-color: #212529;
}
